#wbrandstudio-cookie-notice {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: none;
    z-index: 2147483638;
}
#wbrandstudio-cookie-agreement {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

#wbrandstudio-cookie-agreement:hover {
    background-color: white;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}