.background-c-white{background-color: #fff;}
.background-c-shade-1{background-color: #f2f2f2;}
.background-c-shade-2{background-color: #efefef;}
.background-c-shade-3{background-color: #989898;}
.background-c-shade-4{background-color: #5a5858;}
.background-c-accent{background-color: #BDA078;}

.font-f-1{font-family: "futura-pt",sans-serif;}
.font-f-2{font-family: 'Open Sans', sans-serif;}
.font-f-3{font-family: "Times New Roman", Times, serif;}
.z-i-2{z-index:2;}
.color-white{color:#fff;}

.container-fluid-table{margin-right: auto;margin-left: auto;}

.container-table{ margin-right: auto; margin-left: auto;}
@media (min-width: 768px) {.container-table {width: 750px;}}
@media (min-width: 992px) {.container-table {width: 970px;}}
@media (min-width: 1200px) {.container-table {width: 1170px;}}

.row-table{margin-right: 0;margin-left: 0;}

.container-table:before,
.container-table:after,
.container-fluid-table:before,
.container-fluid-table:after{display: table;content: " ";}

.container-fluid-table:after, .row-table:after{clear: both;}

.col-xs-10-percent,
.col-sm-10-percent,
.col-md-10-percent,
.col-lg-10-percent {position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
.col-xs-10-percent {width: 10%;float: left;}
@media (min-width: 768px) {.col-sm-10-percent {width: 10%;float: left;}}
@media (min-width: 992px) {.col-md-10-percent {width: 10%;float: left;}}
@media (min-width: 1200px) {.col-lg-10-percent {width: 10%;float: left;}}

.col-xs-30-percent,
.col-sm-30-percent,
.col-md-30-percent,
.col-lg-30-percent {position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
.col-xs-30-percent {width: 30%;float: left;}
@media (min-width: 768px) {.col-sm-30-percent {width: 30%;float: left;}}
@media (min-width: 992px) {.col-md-30-percent {width: 30%;float: left;}}
@media (min-width: 1200px) {.col-lg-30-percent {width: 30%;float: left;}}

.width-100{width:100%;}
.width-50{width:50%;}

.position-a{position:absolute;}
.position-f{position:fixed;-webkit-backface-visibility: hidden;}
.position-r{position:relative;}
.position-s{position:static;}

.top-0{top:0;}
.lef-0{left:0;}
.rig-0{right:0;}
.bot-0{bottom:0;}

.display-t-xs{display:table;}
.display-t-r-xs{display:table-row;}
.display-t-c-xs{display:table-cell;float:none;}
.display-b-xs{display:block;}
.display-i-b-xs{display:inline-block;}

.vertical-a-m-xs{vertical-align: middle;}

.visible-xs-tc{display:table-cell !important;}
.visible-sm-tc{display:none !important;}
.visible-md-tc{display:none !important;}
.visible-lg-tc{display:none !important;}

.visible-xs-ib{display:inline-block !important;}
.visible-sm-ib{display:none !important;}
.visible-md-ib{display:none !important;}
.visible-lg-ib{display:none !important;}


@media (min-width : 768px){
    .display-t-sm{display:table;}
    .display-t-r-sm{display:table-row;}
    .display-t-c-sm{display:table-cell;float:none;}
    .display-b-sm{display:block;}
    .display-i-b-sm{display:inline-block;}

    .vertical-a-m-sm{vertical-align: middle;}
    .vertical-a-t-sm{vertical-align: top;}
    .vertical-a-b-sm{vertical-align: bottom;}

    .visible-xs-tc{display:none !important;}
    .visible-sm-tc{display:table-cell !important;}
    .visible-md-tc{display:none !important;}
    .visible-lg-tc{display:none !important;}

    .visible-xs-ib{display:none !important;}
    .visible-sm-ib{display:inline-block !important;}
    .visible-md-ib{display:none !important;}
    .visible-lg-ib{display:none !important;}
}

@media (min-width : 992px){
    .display-t-md{display:table;}
    .display-t-r-md{display:table-row;}
    .display-t-c-md{display:table-cell;float:none;}
    .display-b-md{display:block;}
    .display-i-b-md{display:inline-block;}

    .vertical-a-m-md{vertical-align: middle;}

    .visible-xs-tc{display:none !important;}
    .visible-sm-tc{display:none !important;}
    .visible-md-tc{display:table-cell !important;}
    .visible-lg-tc{display:none !important;}

    .visible-xs-ib{display:none !important;}
    .visible-sm-ib{display:none !important;}
    .visible-md-ib{display:inline-block !important;}
    .visible-lg-ib{display:none !important;}

}

@media (min-width : 1170px){
    .display-t-lg{display:table;}
    .display-t-r-lg{display:table-row;}
    .display-t-c-lg{display:table-cell;float:none;}
    .display-b-lg{display:block;}

    .vertical-a-m-lg{vertical-align: middle;}

    .visible-xs-tc{display:none !important;}
    .visible-sm-tc{display:none !important;}
    .visible-md-tc{display:none !important;}
    .visible-lg-tc{display:table-cell !important;}

    .visible-xs-ib{display:none !important;}
    .visible-sm-ib{display:none !important;}
    .visible-md-ib{display:none !important;}
    .visible-lg-ib{display:inline-block !important;}
}


.padding-l-0{padding-left:0;}
.padding-r-0{padding-right:0;}
.padding-b-0{padding-bottom:0;}
.padding-t-0{padding-top:0;}

.padding-l-1{padding-left:1em;}
.padding-r-1{padding-right:1em;}
.padding-b-1{padding-bottom:1em;}
.padding-t-1{padding-top:1em;}

.padding-l-1-5{padding-left:1.5em;}
.padding-r-1-5{padding-right:1.5em;}
.padding-b-1-5{padding-bottom:1.5em;}
.padding-t-1-5{padding-top:1.5em;}

.padding-l-2{padding-left:2em;}
.padding-r-2{padding-right:2em;}
.padding-b-2{padding-bottom:2em;}
.padding-t-2{padding-top:2em;}

.padding-l-2-5{padding-left:2.5em;}
.padding-r-2-5{padding-right:2.5em;}
.padding-b-2-5{padding-bottom:2.5em;}
.padding-t-2-5{padding-top:2.5em;}

.padding-l-3{padding-left:3em;}
.padding-r-3{padding-right:3em;}
.padding-b-3{padding-bottom:3em;}
.padding-t-3{padding-top:3em;}

.padding-l-3-5{padding-left:3.5em;}
.padding-r-3-5{padding-right:3.5em;}
.padding-b-3-5{padding-bottom:3.5em;}
.padding-t-3-5{padding-top:3.5em;}

.padding-l-4{padding-left:4em;}
.padding-r-4{padding-right:4em;}
.padding-b-4{padding-bottom:4em;}
.padding-t-4{padding-top:4em;}

.padding-l-5{padding-left:5em;}
.padding-r-5{padding-right:5em;}
.padding-b-5{padding-bottom:5em;}
.padding-t-5{padding-top:5em;}

.padding-l-6{padding-left:6em;}
.padding-r-6{padding-right:6em;}
.padding-b-6{padding-bottom:6em;}
.padding-t-6{padding-top:6em;}

.margin-l-0{margin-left:0;}
.margin-r-0{margin-right:0;}
.margin-t-0{margin-top:0;}
.margin-b-0{margin-bottom:0;}

.margin-l-1{margin-left:1em;}
.margin-r-1{margin-right:1em;}
.margin-t-1{margin-top:1em;}
.margin-b-1{margin-bottom:1em;}

.margin-l-1{margin-left:1em;}
.margin-r-1{margin-right:1em;}
.margin-t-1{margin-top:1em;}
.margin-b-1{margin-bottom:1em;}

.margin-l-2{margin-left:2em;}
.margin-r-2{margin-right:2em;}
.margin-t-2{margin-top:2em;}
.margin-b-2{margin-bottom:2em;}

