
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

@import 'variables';
@import 'blog';
@import 'album';
// Vendor
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/slick-carousel/slick/slick-theme.scss';
@import 'node_modules/animate.css/animate.min';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';


@import 'vendor/icomoonEntypo/icomoon';
@import 'vendor/slick/slick_ffb.css';

// App
@import 'styles/desktop';
@import 'styles/mobile';
@import 'styles/tablet';
@import 'styles/contact';

@import 'utils';

@import 'styles/custom';

.v-img-right {
    object-fit: cover;
    width: 100%;
    margin-top: -123px;
    @media (max-width: 767px) {
        margin-top: 0;
    }
}

#web-modal {
    opacity: 0;

    &.in {
        opacity: 1;
    }

}
.modal {
    opacity: 0;

    &.in {
        opacity: 1;
    }
}