#slick .feedback-form {
  padding: 0;
  //padding-top: 3em;
  float: none;
  background-color: transparent;
  box-shadow: none;
}

#slick {
  width: 100%;
  float: none;
}

@media (min-width: 768px) {
  #slick .col-sm-offset-1 {
    margin-left: 8.33333333% !important;
  }
}

@media (min-width: 1200px) {
  #slick .col-lg-offset-2 {
    margin-left: 16.66666667% !important;
  }
}

#slick .form-title {
  text-align: left;
  color: #fff;
  font-size: 1em;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: capitalize;
}

#slick input.send {
  background-color: #f68308;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: 'Open Sans';
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-size: 22px;
  padding-top: .8em;
  padding-bottom: .75em;
}

#slick input.send--webDesign {
  padding-left: 3em;
  font-size: 16px;
  padding-right: 3em;
  float: none;
}

#slick input.send:hover, #slick input.send:focus {
  border: 1px solid #f68308;
  outline: none;
  background: transparent;
  cursor: pointer;
}

#slick span.slick-tip {
  background: #f68308;
}

#slick span.slick-tip:before {
  border-top: 6px solid #f68308;
}

#slick .field input, #slick .field textarea, #slick .field select {
  padding: 12px 20px 10px 20px;
}

#slick .field input:required, #slick .field textarea:required, #slick .field select:required {
  font-size: 16px;
}

// Branding Marketing Experts Page Form

.form {
  &__name {
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 0.3em 0.5em;
    border: 1px solid #ddd;

    &--textArea {
      height: 6em;
    }

    &--btn {
      padding: 0.6em;
      background: linear-gradient(#fdcf48, #f2c74b);
      //background-color: #fdcf48;
      border-radius: 5px;
      border: none;
      font-weight: bold;
      box-shadow: 3px 3px 5px 2px darkgrey;
    }
  }

  &-container {
    &--brandMarket {
      font-size: 16px;
      width: 80%;
      margin: auto;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      & .field {
        margin: 1.5em 0;
      }

      & h2 {
        text-transform: uppercase;
        font-size: 25px;
      }
    }

  }
}

.custom-section {
  input[type='checkbox'] {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    padding: unset !important;
}
  label {
    font-size: 24px !important;
    padding: unset !important;
  }
}