/* .start-top{
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	opacity:0;
}
.fadeInDown{
	opacity:1;
} */

h2.orange-title.left {
    left: 0;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
}

.bg-white {
    background: white;
}

.w-20p {
    min-width: 20%;
}

.card-holder {
    .card {
        width: 100%;
        padding: 0;
        min-height: 400px;
        transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
        .card-img-top {
            height: 250px;
            object-fit: cover;
        }
        .card-body {
            padding: 20px;
        }
        &:hover {
            box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12);
            -webkit-transform: scale(1.014);
            -ms-transform: scale(1.014);
            transform: scale(1.014);
        }

        .card-bottom-row {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.contact-tab {
    position: fixed;
    left: 0;
    top: 45%;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 22px;
    background: #0E9CA8;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;

    &.active {
        transform: translateX(0);
    }
}

.capabilities-branding-image {
    background-position: center center;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.opacity-0 {
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.page-home .box-75 {
    height: 0;
    padding-bottom: 110%;
}

.page-home .box-70 {
    height: 0;
    padding-bottom: 70%;
}

.page-home .social-facebook, .social-twitter {
    font-size: 2.5em;
    text-align: center;
}

.page-home .social-facebook {
    color: #333;
    transition: all 200ms linear;
}

.page-home .social-twitter {
    transition: all 200ms linear;
}

.page-home .social-facebook:hover, .social-twitter:hover, .social-facebook:focus, .social-twitter:focus {
    color: #b2b0b0;
}

.page-home .social-facebook i, .social-twitter i {
    margin-bottom: 1.75em;
}

.v-img-right {
    object-fit: cover;
    width: 100%;
    margin-top: -123px;
    @media (max-width: 767px) {
        margin-top: 0;
    }
}

.page-home img {
    /* opacity:0; */
}

.page-home .hover-effect-text {
    position: absolute;
    top: 45%;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    text-align: center;
    width: 100%;
    margin-top: -2.5em;
    color: #fff;
    z-index: 2;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 0;
}

.page-home .hover-effect-text .take-a-look {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'futura-pt';
    letter-spacing: 2px;
    display: inline-block;
    padding-top: .15em;
    padding-bottom: .15em;
    padding-left: .5em;
    padding-right: .5em;
    color: #fff;
    border: 1px solid #fff;
}

.page-home .hover-effect-text .take-a-look:hover, .hover-effect-text .take-a-look:focus {
    color: #fff;
    text-decoration: none;
}

.page-home .hover-effect-text .description {
    font-style: italic;
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    margin-top: .5em;
}

.page-home .hover-effect-text .client-name {
    font-style: italic;
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    margin-top: 0em;
    text-transform: uppercase;
}

.page-home .hover-image {
    overflow: hidden;
}

.page-home .hover-image img {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transition: transform 2000ms ease-out;
    -webkit-transition: -webkit-transform 2000ms ease-out;

}

.page-home .hover-image:hover img {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.page-home .image-hover-effect {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    background-color: rgba(0, 0, 0, 0.7);
}

.page-home .hover-image:hover .image-hover-effect {
    opacity: 1;
    right: 0;

}

.page-home .hover-image:hover .hover-effect-text {
    top: 50%;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    opacity: 1;
}

@media (max-width: 991px) and (min-width: 768px) {
    .page-home .page-copy-section {
        font-size: 1.8em;
    }
    .page-home .front-page-smaller-copy {
        line-height: 1.8em;
    }
}

.main-nav-panel .collapsible-body a {
    font-size: 1.6rem;
    font-family: "Times New Roman", serif !important;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
}

.ar-ar {
    padding-bottom: 35%;
}

#web-modal {
    opacity: 0;

    &.in {
        opacity: 1;
    }

}
.modal {
    opacity: 0;

    &.in {
        opacity: 1;
    }
}

.testimonials-page .copy-block-gray p {
    font-size: 22px;
    font-size: 1.571em;
    color: #000;
    /*  max-height: 10em;
      overflow: hidden;*/

}

.work-page .hover-effect-text {
    position: absolute;
    top: 45%;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    text-align: center;
    width: 100%;
    margin-top: -2.5rem;
    color: #fff;
    z-index: 2;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 0;
}

.work-page .hover-effect-text .take-a-look {
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'futura-pt';
    letter-spacing: 2px;
    display: inline-block;
    padding-top: .15rem;
    padding-bottom: .15rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #fff;
    border: 1px solid #fff;
}

.work-page .hover-effect-text .take-a-look:hover, .hover-effect-text .take-a-look:focus {
    color: #fff;
    text-decoration: none;
}

.work-page .hover-effect-text .description {
    font-style: italic;
    font-family: 'Times New Roman';
    font-size: 1.1em;
    margin-top: .5rem;
}

.work-page .hover-effect-text .client-name {
    font-style: italic;
    font-family: 'Times New Roman';
    font-size: 1.1em;
    margin-top: 0rem;
    text-transform: uppercase;
}

.work-page .hover-image {
    overflow: hidden;
}

.work-page .hover-image img {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transition: transform 2000ms ease-out;
    -webkit-transition: -webkit-transform 2000ms ease-out;

}

.work-page .hover-image:hover img {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

.work-page .image-hover-effect {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    background-color: rgba(0, 0, 0, 0.7);
}

.work-page .hover-image:hover .image-hover-effect {
    opacity: 1;
    right: 0;

}

.work-page .hover-image:hover .hover-effect-text {
    top: 50%;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    opacity: 1;
}

.work-page .gallery-thumb-image {

}

.testimonial-list-section p {
    font-size: 24px;
    font-size: 1.7em;
    font-weight: 300;
    font-family: "futura pt";
    color: #424242;
    line-height: 1.2;
}

.testimonial-list-section-name {
    font-size: 1em;
    color: #424242;
}

.testimonial-list-section ul {
    padding-left: 0;
    list-style-type: none;
}

.testimonial-list-section li {
    margin-bottom: 4em;
}

.testimonial-list-section ul {
    padding-left: 0;
}

.testimonial-list-image {
    margin-bottom: 2em;
    display: inline-block;
}

h2.orange-title.normal {
    background-color: #f68308;
    font-family: "futura-pt", sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    width: 50%;
    font-size: 1.29em;
    text-transform: uppercase;
    margin-top: 0;
    z-index: 2;
    margin-bottom: 2em;
    padding: .65em 1em;
    letter-spacing: 3px;
}

h2.landing-orange-titles-margin {
    margin-bottom: 15px;
}

.single-column-gray p {
    text-align: left;
    margin-bottom: 1em;
}

aside.quote {
    max-width: 13em;
    font-size: 1.4em;
    color: #fff;
    background-color: #989898;
    padding: 1.5em;
    margin-left: 1em;
    font-weight: 300;
}

/*Landing page Styles*/
#branding-contact-section {
    position: relative;
}

.branding-close-button {
    padding: .5em;
    font-size: 1.5em;
}

/*Contact Us email body*/

.email-table-wrapper {
    background-color: #f68308;
    max-width: 600px;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}

.email-table {
    width: 100%;
    padding: 30px;
    background-color: #efefef;
    color: #5d5c5c;
}

.email-row {
    background: #555555;
}

.email-column {
    background-color: #fff;
    color: #000;
    padding: 5px;
}

.pos-abs {
    position: absolute;
}

.marketing-agency-left-image {
    img {
        width: 100%;
    }
}

.page-brandMarket {
    & h1 {
        text-align: left;
        line-height: 1.2;
    }
}