.filter {
  line-height: 40px;
  margin-right: 30px;
  font-size: 14px;
  color: #999;
  float: left;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

li.filter {
  font-family: "Oswald", sans-serif;
  list-style: none;
  max-width: 156px;
  background-color: transparent;
  line-height: 30px;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  cursor: pointer;
  float: none;
  margin-right: 0px !important;
  padding: 5px 10px !important;
  border-radius: 3px;
}

.button-outline {
  color: #424242;
  border: 1px solid #424242;
  padding-left: 1em;
  padding-right: 1em;
  /* font-size: 22px; */
  font-size: 0.8em;
  text-transform: uppercase;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-weight: 300;
  margin-bottom: 1em;
  display: inline-block;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.button-outline.button-outline-about {
  text-align: center;
  float: left;
  min-width: 6em;
  font-size: 22px;
  margin-top: 3.5em;
  font-size: 1.5em;
}

.button-outline.button-outline-about.b-first {
  margin-right: 2em;
}

.button-outline:hover,
.button-outline:focus {
  /*background-color: #f68308;*/
  text-decoration: none;
  color: #f68308;
  border: 1px solid #bda078;
}

/*.long-header-style{
	width:1%;
}*/
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.invis-0 {
  opacity: 0;
}

.start-right {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

#about-close {
  font-size: 2em;
  background-color: #bdc153;
  color: #000;
}

.animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#slide-in-about {
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-nav .waves-effect {
  display: block;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1;
}

body {
  font-size: 11px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 11px;
    overflow-x: hidden;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 12px;
    overflow-x: hidden;
  }
}

@media (min-width: 1170px) {
  body {
    font-size: 14px;
    overflow-x: hidden;
  }
}

.col-xs-25,
.col-sm-25,
.col-md-25,
.col-lg-25 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-25 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-25 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-25 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-25 {
    width: 20%;
    float: left;
  }
}

.col-xs-75,
.col-sm-75,
.col-md-75,
.col-lg-75 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-75 {
  width: 60%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-75 {
    width: 60%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-75 {
    width: 60%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-75 {
    width: 60%;
    float: left;
  }
}

.header-font {
  font-family: "Didact Gothic", sans-serif;
}

.wid-100 {
  width: 100%;
}

.wid-50 {
  width: 50%;
}

.hei-100 {
  height: 100%;
}

.pull-none {
  float: none;
}

.pad-l-0 {
  padding-left: 0;
}

.pad-r-0 {
  padding-right: 0;
}

.pad-b-0 {
  padding-bottom: 0;
}

.pad-t-0 {
  padding-top: 0;
}

.pad-l-1 {
  padding-left: 1em;
}

.pad-r-1 {
  padding-right: 1em;
}

.pad-b-1 {
  padding-bottom: 1em;
}

.pad-t-1 {
  padding-top: 1em;
}

.pad-l-2 {
  padding-left: 2em;
}

.pad-r-2 {
  padding-right: 2em;
}

.pad-b-2 {
  padding-bottom: 2em;
}

.pad-t-2 {
  padding-top: 2em;
}

.pad-l-3 {
  padding-left: 3em;
}

.pad-r-3 {
  padding-right: 3em;
}

.pad-b-3 {
  padding-bottom: 3em;
}

.pad-t-3 {
  padding-top: 3em;
}

.pad-l-4 {
  padding-left: 4em;
}

.pad-r-4 {
  padding-right: 4em;
}

.pad-b-4 {
  padding-bottom: 4em;
}

.pad-t-4 {
  padding-top: 4em;
}

.pad-l-6 {
  padding-left: 6em;
}

.pad-r-6 {
  padding-right: 6em;
}

.pad-b-6 {
  padding-bottom: 6em;
}

.pad-t-6 {
  padding-top: 6em;
}

.mar-l-0 {
  margin-left: 0;
}

.mar-r-0 {
  margin-right: 0;
}

.mar-t-0 {
  margin-top: 0;
}

.mar-b-0 {
  margin-bottom: 0;
}

.mar-l-2 {
  margin-left: 2em;
}

.mar-r-2 {
  margin-right: 2em;
}

.mar-t-2 {
  margin-top: 2em;
}

.mar-b-2 {
  margin-bottom: 2em;
}

.dis-t-xs {
  display: table;
}

.dis-t-r-xs {
  display: table-row;
}

.dis-t-c-xs {
  display: table-cell;
}

.dis-b-xs {
  display: block;
}

.dis-i-b-xs {
  display: inline-block;
}

.dis-t-r-fix-xs {
  margin-left: -16px;
}

.ver-a-m-xs {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .dis-t-sm {
    display: table;
  }
  .dis-t-r-sm {
    display: table-row;
  }
  .dis-t-c-sm {
    display: table-cell;
  }
  .dis-b-sm {
    display: block;
  }
  .dis-i-b-sm {
    display: inline-block;
  }
  .ver-a-m-sm {
    vertical-align: middle;
  }
  .ver-a-t-sm {
    vertical-align: top;
  }
  .ver-a-b-sm {
    vertical-align: bottom;
  }
  .dis-t-r-fix-sm {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media (min-width: 992px) {
  .dis-t-md {
    display: table;
  }
  .dis-t-r-md {
    display: table-row;
  }
  .dis-t-c-md {
    display: table-cell;
  }
  .dis-b-md {
    display: block;
  }
  .dis-i-b-md {
    display: inline-block;
  }
  .ver-a-m-md {
    vertical-align: middle;
  }
  .dis-t-r-fix-md {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media (min-width: 1170px) {
  .dis-t-lg {
    display: table;
  }
  .dis-t-r-lg {
    display: table-row;
  }
  .dis-t-c-lg {
    display: table-cell;
  }
  .dis-b-lg {
    display: block;
  }
  .dis-i-b-lg {
    display: inline-block;
  }
  .ver-a-m-lg {
    vertical-align: middle;
  }
  .dis-t-r-fix-lg {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

.pos-r {
  position: relative;
}

.top-0 {
  top: 0;
}

.lef-0 {
  left: 0;
}

.rig-0 {
  right: 0;
}

.bot-0 {
  bottom: 0;
}

img.lazy {
  display: none;
}

.page-wrap {
  overflow-x: hidden;
}

.aspect-ratio {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
}

.aspect-ratio > img {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.aspect-ratios {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 47%;
}

.aspect-ratios > .row {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.placeholder {
  position: relative;
  z-index: -1;
}

/*
|--------------------------------------------------------------------------
| Main Header Section
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/
a:hover {
  text-decoration: none;
}

.bio-michael {
  font-size: 1.2em !important;
}

.wollner-branding-logo {
  max-width: 84px;
  width: 100%;
}

.main-header {
  background-color: #989898;
  color: #fff;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;

  -webkit-backface-visibility: hidden;
}

.main-header .menu-button {
  cursor: pointer;
  color: white;
}

.main-header .slogan-text {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.phone-number,
.phone-number:hover,
.phone-number:active,
.phone-number:focus {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}

.main-header .menu-text {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  top: -1px;
  left: 7px;
}

.main-header .fa.fa-bars {
  font-size: 1.5em;
}

/*
|--------------------------------------------------------------------------
| Main Identity Header Section
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/

.main-identity-section .main-logo-box {
  background-color: #f68308;
}

.main-identity-section .email-box {
  background-color: #5a5858;
  color: white;
  font-size: 28px;
}

.main-identity-section .page-title-box {
  background-color: #efefef;
}

.main-identity-section .page-title-box h1 {
  font-size: 2.6em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #5d5c5c;
  letter-spacing: 0px;
}

.branding-section .page-title-box h2 {
  font-size: 2.6em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #5d5c5c;
  letter-spacing: 0px;
}

.branding-section .email-box {
  color: white;
  font-size: 28px;
}

.main-brand-logo {
  max-width: 95px;
}

/*
|--------------------------------------------------------------------------
| Page Copy Section
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/
.index-page .page-copy-section {
  font-size: 2em;
}

.page-copy-section {
  font-size: 36px;
  font-size: 2.5em;
  color: #0b0b0b;
  line-height: 1.5;
}

.main-page-copy-section {
  font-size: 2em;
}

/*
|--------------------------------------------------------------------------
| Testimonial Section
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/

.testimonial-copy small {
  left: 1em;
  bottom: 2em;
  font-size: 0.6em;
}

.testimonial-part {
  top: 1em;
}

.testimonial-gray-block {
}

.testimonial-client-information {
  position: absolute;
  bottom: 0;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  right: 0;
  left: 0;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.5;
  padding-right: 1em;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
}

.testimonial-bottom-contact {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.3em;
}

.testimonial-interactive-block {
  position: relative;
}

.testimonial-interactive-block .testimonial-interactive-block-copy {
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  left: 0%;
}

.testimonial-interactive-block .testimonial-interactive-block-image {
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  left: 0%;
}

.testimonial-interactive-block .testimonial-interactive-block-p {
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.testimonial-interactive-block.expanded .copy-block-gray p {
}

.testimonial-interactive-block.expanded {
}

.testimonial-interactive-block.expanded .testimonial-interactive-block-copy {
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  left: -25%;
}

.testimonial-interactive-block.expanded .testimonial-interactive-block-image {
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  left: -51%;
}

.testimonial-interactive-block.expanded .testimonial-interactive-block-p {
  width: 100%;
  margin-left: 0;
}

.testimonial-interactive-block.expanded .copy-block-gray p {
  overflow-y: scroll;
  max-height: 15em;
  text-align: left;
  padding: 0.5em;
  -webkit-overflow-scrolling: touch;
}

.white-popup {
  position: relative;
  background: #fff;
  font-family: "futura-pt", sans-serif;
  padding: 25px;
  width: auto;
  transition: all 0.3s ease-in-out;
  font-size: 1.4em;
  max-width: 800px;
  margin: 20px auto;
}

/*

====== Zoom-out effect ======

*/
.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}

.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}

.mfp-zoom-out.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-zoom-out.mfp-removing .mfp-with-anim {
  transform: scale(1.3);
  opacity: 0;
}

.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

/*
|--------------------------------------------------------------------------
| Work Section
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/
.work-gallery-copy {
  font-size: 2.3em;
  color: #0b0b0b;
  line-height: 1.5;
}

.work-text-description {
  font-weight: 300;
  color: #434242;
  line-height: 1.8;
  font-size: 1.2em;
}

.work-button {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  font-size: 0.8em;
  cursor: pointer;
}

.work-button span {
  font-size: 0.6em;
  position: relative;
  top: -3px;
}

.work-button.inverse {
  font-size: 1.8em;
  color: #fff;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}

.work-inline {
  background-color: rgb(209, 209, 209);
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px;
}

.gallery-menu {
  display: inline-block;
  position: relative;
  top: 0.8em;
  /*	left: 8em;*/
  padding-left: 0;
}

.gallery-menu li {
  font-size: 1em;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 300;
}

#gallery-container {
  overflow: hidden;
  position: absolute;
  bottom: -5px;
  font-size: 0rem;
}

#gallery-container .mix {
  display: inline-block;
  width: 25%;
  display: none;
  font-size: 1.1rem;
  /*	margin-right: -3px;
      margin-top: -6px;*/
}

#gallery-container .mix img {
  width: 100%;
}

.filter:hover,
.filter.selected {
  color: #fff;
  background-color: #bda078;
}

.read-more-testimonials-button {
  text-align: center;
  margin-top: 0.5em;
  cursor: pointer;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

.read-more-testimonials-button:hover {
  color: #f68308;
}

.work-gallery-section {
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  bottom: 0;

  top: 0;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transition: all 400ms ease-in;
  -webkit-transition: all 400ms ease-in;
}

.testimonial-close-button {
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: #bda078;
  /* width: 4em; */
  /* height: 4em; */
  color: #fff;
  display: table;
  top: 0;
}

.testimonial-close-button > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2.5em;
  position: relative;
  font-family: "futura-pt";
  top: -4px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.slide-in-gallery-box {
  position: absolute;
  height: 100%;
  z-index: 2;
  top: 0;
  width: 100%;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transition: all 400ms ease-in;
  -webkit-transition: all 400ms ease-in;
}

html.gallery-open .work-gallery-section {
  /*left:0;*/
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

html.gallery-open .slide-in-gallery-box {
  /*left:0;*/
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.work-button-section {
}

.work-description-text {
  font-size: 0.75em;
  font-weight: 300;
}

.work-button-section .work-button-button {
  cursor: pointer;
  letter-spacing: 1px;
}

.work-button-button img {
  position: relative;
  top: -2px;
}

.filter.active {
  background-color: #bda078;
}

.btn-prev {
  /* width: .75em; */
  /* height: 1em; */
  /*	background-color: rgba(246, 131, 8, 0.7);*/
  position: absolute;
  left: 0.5em;
  font-size: 4em;
  top: 56%;
  /* margin-top: 2%; */
  color: #fff;
  padding-top: 0em;
  padding-left: 0.3em;
  padding-right: 0.4em;
  cursor: pointer;
}

.btn-next {
  /* width: .75em; */
  /* height: 1em; */
  /*	background-color: rgba(246, 131, 8, 0.7);*/
  position: absolute;
  right: 0.5em;
  font-size: 4em;
  top: 56%;
  /* margin-top: 2%; */
  color: #fff;
  padding-top: 0em;
  padding-left: 0.4em;
  padding-right: 0.3em;
  cursor: pointer;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 0px solid transparent !important;
}

/*
|--------------------------------------------------------------------------
| Gray Copy Blocks
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/
.copy-block-gray {
  background-color: #f2f2f2;
}

.copy-block-gray h1 {
  text-transform: uppercase;
  font-size: 28px;
  font-size: 2em;
  color: #000;
  letter-spacing: 2px;
}

.copy-block-gray hr {
  border-top: 1px solid #a9a9a9;
  margin-top: 1.429em;
  margin-bottom: 1.429em;
}

.copy-block-gray p {
  font-size: 22px;
  font-size: 1.571em;
  color: #000;
  font-weight: 300;
  margin-bottom: 0;
}

.copy-block-gray li {
  font-size: 22px;
  font-size: 1.571em;
  color: #000;
  font-weight: 300;
  margin-bottom: 0;
}

.copy-block-gray-1 .background-c-shade-1 {
  background-color: #e5e5e5;
}

.copy-block-gray-1 .copy-block-gray {
  background-color: #e5e5e5;
}

/*
|--------------------------------------------------------------------------
| Footer Section
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/

.main-footer {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #bda078;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-footer .left-footer-side {
  font-weight: 600;
}

.main-footer .right-footer-side {
}

/*
|--------------------------------------------------------------------------
| Front Page Tweaks
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/
.front-tweak {
  z-index: 0;
}

.social-section {
  font-size: 2.9em;
}

.twitter-section {
  color: #fff;
  background-color: #5a5858;
}

.facebook-section {
  background-color: #fff;
}

.front-page-smaller-copy {
  font-size: 1.3363636363636365em; /* 18/11 */
  font-family: "Open Sans";
  font-weight: 300;
  color: #434242;
  line-height: 2;
}

/*
|--------------------------------------------------------------------------
| Nav
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/
body {
  position: relative;
}

.site-wrapper {
  overflow-x: hidden;
}

.main-header {
  -webkit-backface-visibility: hidden;
}

.copy-block-gray h2 {
  font-size: 1.57em;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 2em;
}

.page-copy-section h2 {
  font-weight: 300;
  font-size: 55px;
  font-size: 1.3em;
  color: #424242;
  margin-bottom: 0.5em;
}

.page-copy-section p {
  font-size: 0.63em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 auto;
  color: #424242;
}

.index-page .page-copy-section p {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 auto;
  color: #424242;
}

.index-page .page-copy-section p {
  max-width: 25em;
}

.main-nav {
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background-color: #fff;
  top: 0;
  overflow: auto;
  bottom: 0;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;

  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);

  transition-property: transform;
  -webkit-transition-property: transform;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.main-nav a {
  display: block;
  color: #5d5c5c;
  text-decoration: none;
  transition: color 200ms linear;
  -webkit-transition: color 200ms linear;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #f68308;
}

body.nav-open .main-nav {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
}

body.nav-open {
  overflow: hidden;
}

body.nav-open .site-wrapper {
  position: relative;
}

body .page-wrap {
  position: relative;
}

body .page-wrap.moving {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  transition-property: transform;
  -webkit-transition-property: transform;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

body .main-header.moving {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);

  transition-property: transform;
  -webkit-transition-property: transform;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

body.nav-open .main-header {
  transform: translate3d(50%, 0, 0);
  -webkit-transform: translate3d(50%, 0, 0);
}

body.nav-open .page-wrap {
  position: relative;

  transform: translate3d(50%, 0, 0);
  -webkit-transform: translate3d(50%, 0, 0);
}

.main-nav-panel li {
  color: #5d5c5c;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

.main-nav-panel ul {
  padding-left: 0;
  list-style-type: none;
}

.main-nav-panel .sub-menu {
  display: none;
}

.main-nav-panel .sub-menu li {
  font-size: 0.5em;
  line-height: 1.7;
  font-family: "Times New Roman";
  font-weight: 300;
  text-transform: Capitalize;
  font-style: italic;
}

#overlay {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #231f20;
  z-index: 4;
  padding: 0;
  margin: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
}

body.nav-open #overlay {
  visibility: visible;
  opacity: 0.85;
}

#nav-close-button {
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: #bda078;
  /* width: 4em; */
  /* height: 4em; */
  color: #fff;
  display: table;
}

#nav-close-button > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2.5em;
  position: relative;
  font-family: "futura-pt";
  top: -4px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.slick-track {
  right: 0;
}

body .page-wrap {
  width: 100%;
  overflow: hidden;
}

.slick-slider {
  margin-bottom: 0;
}

.gallery-work {
  width: 50%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.slick-prev,
.slick-next {
  font-size: 1.3rem;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 7em;
  height: 7em;
  margin-top: -3.5em;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  /*background:rgba(54, 191, 196, 0.9);*/
}

.slick-prev:before,
.slick-next:before {
  font-family: "icomoon";
  font-size: 6em;
  line-height: 1;
  opacity: 0.8;

  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: #868686;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next:before {
  content: "\e62a";
  right: 0;
  padding-right: 0.25em;
}

.slick-prev:before {
  content: "\e629";
  left: 0;
  padding-left: 0.25em;
}

.slick-prev {
  /*left:5rem;*/
}

.slick-next {
  /*right:5rem;*/
}

.slick-prev:focus,
.slick-next:focus {
  opacity: 0.5;
}

.slick-prev:hover,
.slick-next:hover {
  color: #fff;
  outline: none;
  opacity: 0.9;
  /*background:rgba(54, 191, 196, 0.9);*/
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.1;
}

.gallery-open-close-section {
  display: block;
  position: absolute;
  opacity: 0.1;
  z-index: 3;
  top: 50%;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  /* margin-top: -3.3em; */
  right: 50%;

  margin-right: -3.5em;
}

.gallery-open-close-section:hover {
  opacity: 1;
  cursor: pointer;
}

.gallery-open-close-section.animated {
  opacity: 1;
}

.gallery-open-close-section img {
  top: 50%;
  position: relative;
  /* position: absolute; */
  /* right: 50%; */
  margin-top: -3.3em;
  /* margin-right: 0em; */
}

/*
|--------------------------------------------------------------------------
| Contact
|--------------------------------------------------------------------------
|
| Notes:
|
|
|
*/

.contact-form {
  position: absolute;
  background-color: #c3c3c4;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  z-index: 2;
  width: 100%;
  transition: left 300ms ease-in;
  -webkit-transition: left 300ms ease-in;
}

.contact-form-two {
  position: absolute;
  background-color: #c3c3c4;
  top: 0;
  bottom: 0;
  left: 150%;
  right: 0;
  z-index: 2;
  width: 100%;
  transition: left 300ms ease-in;
  -webkit-transition: left 300ms ease-in;
}

.contact-form-container {
  background-color: #c3c3c4;
  position: relative;
  margin: 0 -15px;
  padding: 30px;
}

.contact-form-close-button {
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: #f68308;
  /* width: 4em; */
  /* height: 4em; */
  color: #fff;
  display: table;
  z-index: 2;

  &--webDesign {
    top: 0;
  }
}

.contact-form-close-button > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  position: relative;
  font-family: "futura-pt";
  top: -2px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

body.contact-open .contact-form {
  left: 0;
}

body.contact-open .contact-form-two {
  left: 0;
}

.contact-block > a {
  color: #0b0b0b;
  text-decoration: none;
}

.contact-block p {
  font-size: 0.5em;
}

.contact-block i {
  font-size: 2em;
}

.contact-block {
  margin-bottom: 0em;
  padding: 0.3em;
}

.capabilities-page .contact-block {
  margin-bottom: 2em;
}

.branding-section {
  /*	z-index: 2;*/
}

.main-footer {
  z-index: 2;
  position: relative;
}

.main-nav-panel .collapsible-body a {
  font-size: 1.6rem;
  font-family: "Times New Roman", serif !important;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}

.main-nav-panel .collapsible-body > ul {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.main-nav-social {
  text-align: center;
  font-size: 2em;
}

.main-nav-social hr {
  width: 60%;
  border-top: 1px solid #c8c8c8;
}

.main-nav-social a {
  display: inline-block;
  /* text-align: center; */
  margin: 0.5em;
  color: #898989;
}

.image-cap-section {
}

.subtext-img-cap {
  position: absolute;
  bottom: 0;
  text-align: center;

  font-size: 0.8rem;
}

.subtext-img-cap > p {
  width: 75%;
  display: inline-block;
  padding-bottom: 0.8em;
  margin-bottom: 10px;
}

.cap-logo-section {
  line-height: 1.2;
}

.ar-img {
  height: 0;
  overflow: hidden;
  padding-bottom: 140%;
}

.ar-img-small {
  height: 0;
  padding-bottom: 70%;
  overflow: hidden;
}

.img-iconi {
  height: 2.5em;
}

.ar-ar {
  overflow: hidden;
  height: 0;
  padding-bottom: 43%;
  position: relative;
}

h2.orange-title {
  position: absolute;
  top: 0;
  background-color: #bda078;
  font-family: "futura-pt", sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
  width: 50%;
  font-size: 1.29em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0.65em 1em;
  letter-spacing: 3px;
}

h2.orange-title.right {
  right: 0;
}

.orange {
  &-text {
    &-container {
      padding: 3em 9em;

      @media screen and (max-width: 769px) {
        padding: 2em 3em !important;
      }
    }
  }
}

#slide-in-about .orange-title {
  width: 33.333333%;
}

.myButton {
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  background: linear-gradient(to bottom, #f6d896, #eeba44);
  padding: 10px;
  min-width: 200px;
  min-height: 50px;

  margin-left: auto;
  border: 1px solid #9b9b9b;
  transition: all 0.4s;

  small {
    font-size: 60%;
  }

  &:hover {
    background: linear-gradient(to bottom, #f6d896, #f6d896);
    color: white;
  }
}

.org-btn {
  background: linear-gradient(to bottom, #f6d896, #eeba44);
}

.paddedtop {
  padding-top: 5%;
  font-size: 1.3em;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.slick-prev,
.slick-next {
  transform: none;
  z-index: 1;
}
.collageImage {
  &--webDesign {
    background-image: url("/assets/images/website-development-awardwinner.jpg");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &--brandingAgency {
    background-image: url("/assets/images/branding_banner_1.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &--marketingAgency {
    background-image: url("/assets/images/marketing_banner.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.display-flex {
  display: flex;

  @media screen and (max-width: 769px) {
    display: block;
  }
}

