@media (max-width: 767px) {
    .main-identity-section .page-title-box {
        background-color: #fff;

    }

    .testimonial-list-section {
        text-align: center;
    }

    .front-page-service-block {
        color: #fff;
        text-transform: uppercase;
        padding-top: .5em;
        padding-bottom: .5em;
        line-height: 1.2;
        font-size: 1.8em;
        font-weight: 300;
        font-family: 'futura-pt';
        letter-spacing: 1px;
    }

    .contact-form {
        bottom: auto;
        padding-bottom: 10em;

    }

    .page-copy-section p {
        font-size: .85em;
    }

    .contact-block {

        margin-bottom: 1em;
    }

    .contact-block p {
        font-size: .85em;
    }

    .orange-offset {
        padding-top: 3.8em;
        padding-bottom: 1.5em;
    }

    h2.orange-title {
        width: 65%;
        font-size: 1.25em;
    }

    .subtext-img-cap > p {
        width: 75%;
        display: inline-block;
        /* display: none; */
        font-size: 1.2em;
        padding-bottom: .2em;
    }

    .main-identity-section .page-title-box .fa-phone {
        font-size: 28px;
        color: #69737a;
    }

    .branding-section .fa-phone {
        font-size: 28px;
        color: #69737a;
    }

    .main-nav {
        width: 75%;
    }

    body.nav-open .page-wrap {
        transform: translate3d(75%, 0, 0);
        -webkit-transform: translate3d(75%, 0, 0);
    }

    body.nav-open .main-header {
        transform: translate3d(75%, 0, 0);
        -webkit-transform: translate3d(75%, 0, 0);
    }

    .wollner-brand-logo-icon {
        width: 22%;
    }

    .page-copy-section {
        font-size: 2em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .copy-block-gray-col {
        padding-left: 0;
        padding-right: 0;
    }

    .testimonial-copy > .padding-t-4 {
        padding-top: 0;
    }

    .testimonial-copy > .padding-b-4 {
        padding-bottom: 2em;
    }

    .copy-block-gray-text {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .testimonial-gray-block .copy-block-gray {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .testimonial-gray-block .copy-block-gray p {
        overflow: auto;
        max-height: none;
    }

    .testimonial-gray-block .page-copy-section {
        padding-bottom: 0;
    }

    .mobile-copy-block {
        font-size: 2.3em;
        color: #5a5858;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
    }

    .mobile-social-section {
        text-align: center;
    }

    .mobile-social-block {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .mobile-social-block.mobile-social-block-fb {

    }

    .index-page .social-facebook i, .social-twitter i {
        margin-bottom: 0 !important;
    }

    .see-our-desktop-version {
        color: #fff;
        font-family: 'futura-pt';
        font-size: 1.2em;
        position: relative;
        top: -1px;
        font-weight: 300;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .mobile-social-block.mobile-social-block-twitter {

    }

    .mobile-social-section .fa-facebook {
        margin-bottom: 0;
    }

    .mobile-social-section .fa-twitter {
        margin-bottom: 0;
    }

    .mobile-footer-section {
        font-weight: 300;
    }

    .mobile-footer-section a.footer-email {
        color: #fff;
        text-transform: lowercase;
        font-weight: 400;
        font-size: 1.2em;
        font-style: italic;
    }
}
