@media (min-width : 768px) and (max-width: 991px) {
    .page-copy-section p {
        font-size: .75em;
        font-weight: 300;
        line-height: 1.2;
        margin: 0 auto;
        color: #424242;
    }

    .button-outline.button-outline-about{
        text-align: center;
        float: left;
        min-width: 6em;
        font-size: 22px;
        margin-top: 1.5em;
        font-size: 1.5em;
    }

    .work-description-text {
        font-size: .6em;
        font-weight: 300;
        /* font-size: 14px; */
    }

    .main-index-tables .page-copy-section{
        font-size: 1.8em;
    }

    .main-index-tables .front-page-smaller-copy{
        line-height: 1.8em;
    }

    .wollner-brand-logo-icon{
        max-width: 50px;
    }

    .waves-button {
        padding:0;
        border-radius: .2em;
    }

    .testimonial-interactive-block.expanded .copy-block-gray p{
        max-height: 10em;
    }

    .testimonial-interactive-block.expanded .testimonial-interactive-block-p{
        padding-left: 0;
        padding-right: 0;
    }

    .subtext-img-cap>p {
        width: 75%;
        font-size: 1.25em;
        display: inline-block;
        padding-bottom: .8em;
    }

    h2.orange-title {
        width:51%;
    }

    .copy-block-gray p{
        font-size: 1.4em;
    }
}

@media (min-width : 992px) and (max-width:1199px) {
    .testimonial-interactive-block.expanded .copy-block-gray p{
        max-height: 15em;
    }
}
